<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="column">
            <div class="navbar-text pull-left" style="margin-left: 27px">
                <a href="#/profile">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#/user/{{model.userId}}/website">
                    Websites
                </a>
            </div>
            <div class="navbar-text pull-right" style="margin-right: 27px;">
                <a href="#/user/{{model.userId}}/website/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
    </div>
</nav>


<ul class="list-group">
    <li ng-repeat="website in model.websites" class="list-group-item">
        <a href="#/user/{{website._user}}/website/{{website._id}}/page">
            {{website.name}}
        </a>
        <a href="#/user/{{website._user}}/website/{{website._id}}" class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
            <span class="glyphicon glyphicon-play"></span>
        </a>
    </li>
</ul>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>