
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="../views/website/website-list.view.client.html" class="glyphicon glyphicon-chevron-left"></a>
        </p>
        <p class="navbar-text pull-right">
            <a href="page-new.view.client.html" class="glyphicon glyphicon-plus"></a>
        </p>
        <div class="navbar-header">
            <a class="navbar-brand profile-websites-navbar-text" href="#">
                <p class="header-text">Pages</p>
            </a>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div>
        <h1></h1>
        <ul class="list-group">
            <li class="list-group-item borderless">
                <div>
                    <a class="vertical-center" href="../views/widget/widget-list.view.client.html">Page 1</a>
                    <p class="pull-right">
                        <a href="page-edit.view.client.html" class="glyphicon glyphicon-cog"></a>
                    </p>
                </div>
            </li>
            <li class="list-group-item borderless">
                <div>
                    <a class="vertical-center" href="../views/widget/widget-list.view.client.html">Page 2</a>
                    <p class="pull-right">
                        <a href="page-edit.view.client.html" class="glyphicon glyphicon-cog"></a>
                    </p>
                </div>
            </li>
            <li class="list-group-item borderless">
                <div>
                    <a class="vertical-center" href="../views/widget/widget-list.view.client.html">Page 3</a>
                    <p class="pull-right">
                        <a href="page-edit.view.client.html" class="glyphicon glyphicon-cog"></a>
                    </p>
                </div>
            </li>
            <li class="list-group-item borderless">
                <div>
                    <a class="vertical-center" href="../views/widget/widget-list.view.client.html">Page 4</a>
                    <p class="pull-right">
                        <a href="page-edit.view.client.html" class="glyphicon glyphicon-cog"></a>
                    </p>
                </div>
            </li>
        </ul>

    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid row">
        <div class="col-xs-12 col-sm-12">
            <div class="navbar-header pull-right">
                <a class="navbar-brand" href="../views/user/profile.view.client.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>