
<nav class="navbar navbar-default navbar-fixed-top templates-websites-navbar">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#" class="glyphicon glyphicon-ok"></a>
        </p>
        <div class="navbar-header">
            <a class="navbar-brand profile-websites-navbar-text" href="#">
                <p class="header-text">Profile</p>
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <h1>Profile</h1>

    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username" type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="alice@wonderland.com">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="model.user.first" type="text" class="form-control" id="first-name" placeholder="Alice">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="model.user.last" type="text" class="form-control" id="last-name" placeholder="Wonderland">
        </div>
    </form>

    <a class="btn btn-primary btn-block"
       href="#/user/{{model.user._id}}/website">Websites</a>
    <a class="btn btn-danger btn-block"
       href="#/login">Logout</a>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid row">
        <div class="col-xs-12 col-sm-12">
            <div class="navbar-header pull-right">
                <a class="navbar-brand" href="/profile.view.client.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
