
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="widget-list.view.client.html" class="glyphicon glyphicon-chevron-left"></a>
        </p>
        <div class="navbar-header">
            <a class="navbar-brand profile-websites-navbar-text" href="#">
                <p class="header-text">Choose Widget</p>
            </a>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div>
        <h1></h1>
        <ul class="list-group">
            <li class="list-group-item borderless">
                <div>
                    <a class="vertical-center" href="widget-heading.view.client.html">Header</a>
                </div>
            </li>
            <li class="list-group-item borderless">
                <div>
                    <a class="vertical-center" href="#">Label</a>
                </div>
            </li>
            <li class="list-group-item borderless">
                <div>
                    <a class="vertical-center" href="#">HTML</a>

                </div>
            </li>
            <li class="list-group-item borderless">
                <div>
                    <a class="vertical-center" href="#">Text Input</a>
                </div>
            </li>
            <li class="list-group-item borderless">
                <div>
                    <a class="vertical-center" href="#">Link</a>
                </div>
            </li>
            <li class="list-group-item borderless">
                <div>
                    <a class="vertical-center" href="#">Button</a>
                </div>
            </li>
            <li class="list-group-item borderless">
                <div>
                    <a class="vertical-center" href="widget-image.view.client.html">Image</a>

                </div>
            </li>
            <li class="list-group-item borderless">
                <div>
                    <a class="vertical-center" href="widget-youtube.view.client.html">Youtube</a>
                </div>
            </li>
            <li class="list-group-item borderless">
                <div>
                    <a class="vertical-center" href="#">Data Table</a>
                </div>
            </li>
            <li class="list-group-item borderless">
                <div>
                    <a class="vertical-center" href="#">Repeater</a>
                </div>
            </li>
        </ul>

    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid row">
        <div class="col-xs-12 col-sm-12">
            <div class="navbar-header pull-right">
                <a class="navbar-brand" href="../views/user/profile.view.client.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
