
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </p>
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                Widget Edit
            </a>
            <p class="navbar-text pull-right">
                <button ng-click="model.updateWidget()"
                        class="navbar-link"
                        type="submit"
                        form="myForm" >
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </button>
            </p>
        </div>
    </div>
</nav>

<!--"_id": "678", "widgetType": "YOUTUBE", "pageId": "321",  "width": "100%",  "url": "https://youtu.be/jwu2y9x5OlM"},-->

<form id="myForm" name="myForm" novalidate>
    <div class="form-group">
        <label for="name">Name</label>
        <input ng-model="model.widget.name"
               type="text"
               class="form-control"
               id="name"
               name="name"
               placeholder="Widget Name" required>
        <span ng-show="myForm.$submitted && myForm.name.$invalid">
            Video name is required
        </span>
    </div>
    <div class="form-group">
        <label for="text">Text</label>
        <input ng-model="model.widget.text"
               type="text"
               class="form-control"
               id="text"
               placeholder="Widget Text">
    </div>
    <div class="form-group">
        <label for="size">URL</label>
        <input ng-model="model.widget.url"
               type="url"
               class="form-control"
               id="size"
               placeholder="Widget Link">
    </div>
    <div class="form-group">
        <label for="width">Width</label>
        <input ng-model="model.widget.width"
               type="text"
               class="form-control"
               id="width"
               placeholder="Widget Width">
    </div>
</form>

<a class="btn btn-danger btn-block"
   ng-click="model.deleteWidget()">
    Delete
</a>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>
